1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
var = 123
print(var)

123

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(var)

int

4) Crear una variable que contenga tu nombre

In [ ]:
mi_name = "Julián"

5) Crear una variable que contenga un número complejo

In [1]:
num_compl = 3 + 4j

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [2]:
type(num_compl)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [3]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
Rta/. No, una es de tipo srt y la otra es de tipo bool

In [7]:
var_t =  'True'
var_t2 = True

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [8]:
print(type(var_t))
print(type(var_t2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [2]:
a = 3 + 4.0

11) Realizar una operación de suma de números complejos

In [7]:
b = (3 + 4j) + (2 + 1j)
print(b)

(5+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [9]:
print(3.141516 + (3 + 9j))

(6.141516+9j)

13) Realizar una operación de multiplicación

In [10]:
print(9*9)

81

14) Mostrar el resultado de elevar 2 a la octava potencia

In [11]:
print(2 ** 8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [12]:
print(27 / 4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [13]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [14]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [15]:
print(6 * 4 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [16]:
var_1 = '123abc'
var_2 = '456defg'

print(var_1 + var_2)

123abc456defg

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [17]:
print("2" == 2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [19]:
print(int("2") == 2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

Rta/. Porque posee una coma

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [22]:
var_3 = 3
var_3 -= 1
print(var_3)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [23]:
print(1 << 2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

Rta/: No son del mismo tipo

26) Realizar una operación válida entre valores de tipo entero y string

In [24]:
print(4 + int('9'))

13